### 此檔案切分資料集

In [ ]:
# test_index.txt review_index/userId/appID; 111619 rows × 3 columns
# train_index.txt review_index/userId/appID; 904120rows × 3 columns
# val_index.txt review_index/userId/appID; 100457rows × 3 columns
# train_index_all.txt(中間檔案，包含完整資料集移除test之後剩的90%) review_index/userId/appID; 1004577rows × 3 columns

In [7]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import os
from time import sleep
from tqdm import tqdm, trange
import re
from itertools import chain

#### 1) 讀出userID最大數字 
#### 2) 從userID隨機抽11萬2073筆存到一個list(test_userID)，不可重複
#### 3) 若userID被包含在該list(test_userID)中，則隨機抽取該userID的任1筆評論(review_index)，並將它加入到test_index串列中
#### 4) 其他沒被加入test_index的review_index，則加入train_index串列中。
#### 5) 最後test_index、train_index串列記得先都存回csv

In [2]:
df = pd.read_csv("./Data/ALL_ORIGIN_DATA_review.csv")
df

,Unnamed: 0,review_index,userId,appId,review
0,0,0,0,5,Now I understand why so many low marks. Two ob...
1,1,1,1,5,Its good but the adds to get more blocks wont ...
2,2,2,2,5,I love the game my lil sis showed me it and iv...
3,3,3,3,5,Good game. It deserves 5 stars because it isn'...
4,4,4,4,5,"Dear people, I lovvvvvvvve it but why do u hav..."
...,...,...,...,...,...
1116191,1116191,1116191,47487,9684,Useful features keep being removed. Now it was...
1116192,1116192,1116192,14297,9684,Algorithm makes it impossible to grow your acc...
1116193,1116193,1116193,38611,9684,"This app is a lot of fun..I am new to it, but ..."
1116194,1116194,1116194,6009,9684,It's been an awesome app to use! As someone wh...
1116195,1116195,1116195,91547,9684,The app is extremely laggy and crash-y followi...

In [ ]:
## 檢查 userId 出現次數才用到

# mylist = df['userId'].tolist()
# myset = set(mylist)  #myset是另外一個列表，裡面的內容是mylist裡面的無重複 項
# bad_userId=[]
# for item in myset:
#     lst_count = mylist.count(item)
#     if lst_count < 3:
#         print("the %d has found %d" %(item, lst_count))
#         bad_userId.append(item)

In [10]:
# 1) 讀出userID最大數字
print(df['userId'].max())

lst = [] #所有userID
for i in range(0,df['userId'].max()+1):
    lst.append(int(i))

135330

In [ ]:
# 2) 從userID隨機抽11萬1619筆存到一個list(test_userID)，不可重複
test_userID = []
import random
test_userID = random.sample(lst, k=111619)
test_userID

In [13]:
# 3) 若userID被包含在該list(test_userID)中，則隨機抽取該userID的任1筆評論(review_index)，並將它加入到test_index串列中

userId_array = np.array(df['userId'])
test_index=[]

for count,i in enumerate(tqdm(test_userID)):
    a = np.where(userId_array == i)
    sample_reviewId = np.random.choice(a[0], size=1)
    test_index.append([i,sample_reviewId[0]])

100%|█████████████████████████████████████████████████████████████████████████| 111619/111619 [02:27<00:00, 757.51it/s]

In [14]:
test_index = np.array(test_index)
print(test_index) # [userID='85676', review_index='144251']
print(test_index[0][1])

[[104298 556989]
 [ 24488 276457]
 [100603 827705]
 ...
 [115038 789357]
 [ 74020 112901]
 [ 52738 394800]]
556989

In [33]:
from pandas.core.frame import DataFrame

test_index_lst = []
test_userId_lst = []
test_appId_lst = []

for i in range (len(test_index)):
    test_index_lst.append(test_index[i][1])
    test_userId_lst.append(test_index[i][0])
    test_appId_lst.append(df['appId'][i])
    
test_index_dic={'review_index' : test_index_lst,"userId" : test_userId_lst,"appId" : test_appId_lst}
test_index_df = DataFrame(test_index_dic)
test_index_df

        review_index  userId  appId
0             556989  104298      5
1             276457   24488      5
2             827705  100603      5
3             292180   56006      5
4             794402  109560      5
...              ...     ...    ...
111614        762316  108249   1110
111615          3507    3332   1110
111616        789357  115038   1110
111617        112901   74020   1110
111618        394800   52738   1110

[111619 rows x 3 columns]

In [34]:
test_index_df.to_csv('./Data/test_index.txt',index=False, encoding='utf-8')

### 以下先從完整dataset移除10%的test set 存到 train_index_all.txt

In [20]:
#建一個包含原訓練集review_index的lst
review_index_lst = []
for i in range(0,df['review_index'].max()+1):
    review_index_lst.append(int(i))
len(review_index_lst)

1116196

In [22]:
# 從 review_index_lst 移除 "test_index_lst"(已經在測試集裡的review_index)

train_index_lst = list(set(test_index_lst) ^ set(review_index_lst))
len(train_index_lst)

1004577

In [35]:
train_userId_lst = []
train_appId_lst = []
for i in tqdm(train_index_lst):
    train_userId_lst.append(df['userId'][i])
    train_appId_lst.append(df['appId'][i])
len(train_userId_lst)

100%|████████████████████████████████████████████████████████████████████| 1004577/1004577 [00:09<00:00, 101805.37it/s]

1004577

In [24]:
# 確認 test 和 train 交集為空
print (len(set(test_index_lst)&(set(train_index_lst))))

0

In [26]:
# 確認 train_user數量 與 完整資料集用戶數量 相同
print(len(set(df['userId'].tolist())))
print(len(set(train_userId_lst)))

135331
135331

In [36]:
train_index_dic = {'review_index' : train_index_lst,"userId" : train_userId_lst,"appId" :train_appId_lst }
train_index_df = DataFrame(train_index_dic)
train_index_df

         review_index  userId  appId
0                   0       0      5
1                   1       1      5
2                   2       2      5
3                   3       3      5
4                   4       4      5
...               ...     ...    ...
1004572       1116190  128992   9684
1004573       1116191   47487   9684
1004574       1116192   14297   9684
1004575       1116193   38611   9684
1004576       1116195   91547   9684

[1004577 rows x 3 columns]

In [37]:
train_index_df.to_csv('./Data/train_index_all.txt',index=False, encoding='utf-8') 
# train_index_all.txt 原dataset中的90%

###  val: 從原本的train_index_all.txt 抽出10%當val

In [38]:
df_train = pd.read_csv("./Data/train_index_all.txt")
df_train

         review_index  userId  appId
0                   0       0      5
1                   1       1      5
2                   2       2      5
3                   3       3      5
4                   4       4      5
...               ...     ...    ...
1004572       1116190  128992   9684
1004573       1116191   47487   9684
1004574       1116192   14297   9684
1004575       1116193   38611   9684
1004576       1116195   91547   9684

[1004577 rows x 3 columns]

In [39]:
# 共有 1008665 筆 train資料，透過index來抽，再對應到review_index
lst = [] 
for i in range(0,len(train_index_lst)):
    lst.append(i)

# 抽100865筆存到一個list(val_ID)，不可重複
val_ID = []
import random
val_ID = random.sample(lst, k=100457)
val_ID

[720176,
 783275,
 306216,
 66778,
 494222,
 699949,
 803212,
 559570,
 560034,
 788219,
 478704,
 397655,
 268943,
 371122,
 481590,
 935140,
 972264,
 454999,
 567861,
 830274,
 751385,
 780508,
 633740,
 845138,
 967878,
 128869,
 631658,
 713568,
 688600,
 898377,
 456325,
 220532,
 183518,
 689861,
 572168,
 916398,
 994350,
 702228,
 177611,
 766303,
 406970,
 899793,
 470424,
 59029,
 302229,
 251365,
 258937,
 244578,
 728613,
 745012,
 441716,
 244284,
 339024,
 529136,
 799865,
 638844,
 630694,
 45667,
 894323,
 683917,
 635411,
 286179,
 879806,
 877923,
 776850,
 837929,
 93619,
 545753,
 61876,
 907726,
 84763,
 769305,
 292058,
 94091,
 287535,
 270298,
 477174,
 838611,
 341768,
 791201,
 8873,
 966223,
 19032,
 717250,
 512975,
 691383,
 456521,
 986915,
 963780,
 513455,
 453624,
 130463,
 707561,
 232420,
 951176,
 443132,
 140625,
 857638,
 474083,
 5036,
 760064,
 468661,
 432034,
 991965,
 280083,
 377438,
 221011,
 137394,
 57899,
 46994,
 113992,
 985455,
 254165,
 288265,
 650890,
 184078,
 254338,
 705892,
 151651,
 781247,
 902251,
 654483,
 451070,
 537039,
 712330,
 114582,
 423505,
 345547,
 925301,
 589865,
 295842,
 85408,
 275821,
 718772,
 544826,
 2929,
 914612,
 266491,
 171316,
 517139,
 630203,
 320086,
 549298,
 846966,
 134111,
 233772,
 74349,
 309408,
 908715,
 22688,
 543977,
 858463,
 229820,
 48383,
 113269,
 705323,
 203608,
 354958,
 781242,
 590433,
 120831,
 575641,
 357609,
 818460,
 299549,
 789856,
 432542,
 889348,
 972671,
 280447,
 312503,
 234659,
 999279,
 359224,
 924395,
 703548,
 218101,
 206664,
 956054,
 222204,
 593335,
 691836,
 389522,
 122192,
 650669,
 465945,
 352575,
 386099,
 481377,
 516661,
 480113,
 495149,
 891782,
 255595,
 855335,
 388083,
 332058,
 892858,
 687219,
 176505,
 199494,
 270377,
 900284,
 725484,
 229663,
 839115,
 268991,
 344462,
 921566,
 15532,
 789737,
 526117,
 739536,
 183451,
 35719,
 560893,
 972957,
 735420,
 226746,
 653651,
 22359,
 464235,
 464504,
 969673,
 103721,
 829847,
 7389,
 851496,
 913236,
 131462,
 699497,
 434738,
 615654,
 93019,
 102164,
 785670,
 845988,
 452443,
 903817,
 108306,
 549122,
 203926,
 247270,
 849797,
 111999,
 128305,
 363833,
 752592,
 198117,
 373367,
 513334,
 448641,
 248228,
 348294,
 313960,
 424754,
 892808,
 776068,
 174878,
 504736,
 452759,
 663373,
 691861,
 581732,
 430643,
 138244,
 555571,
 944328,
 257469,
 182800,
 356167,
 903711,
 872842,
 219207,
 157792,
 398930,
 356,
 527119,
 503794,
 132458,
 929584,
 177182,
 279788,
 602609,
 587004,
 575246,
 346059,
 120975,
 8104,
 938321,
 593574,
 358031,
 188398,
 171310,
 689082,
 389728,
 220562,
 101886,
 518978,
 78071,
 498698,
 681272,
 32620,
 985053,
 883565,
 89894,
 391560,
 935810,
 25273,
 263696,
 109885,
 18424,
 617327,
 27918,
 298894,
 552009,
 907519,
 286145,
 683125,
 369956,
 580507,
 590401,
 960867,
 849052,
 727897,
 722884,
 448105,
 719358,
 112312,
 702330,
 142020,
 648118,
 611599,
 290179,
 356816,
 270264,
 201254,
 491330,
 791892,
 287260,
 964985,
 161333,
 273435,
 771405,
 368879,
 250495,
 743825,
 601100,
 45762,
 203939,
 799637,
 864720,
 665585,
 468536,
 481345,
 706148,
 272066,
 918456,
 582250,
 163188,
 817783,
 9833,
 562977,
 68025,
 886119,
 759166,
 351101,
 988766,
 882644,
 234593,
 623805,
 731011,
 232123,
 128155,
 832150,
 454768,
 92284,
 328877,
 384506,
 149256,
 901697,
 769197,
 792155,
 838617,
 224054,
 617939,
 188211,
 212451,
 592724,
 430353,
 754374,
 903221,
 707118,
 568104,
 467889,
 811729,
 570736,
 72778,
 776669,
 861633,
 783371,
 947563,
 352855,
 476348,
 735531,
 482830,
 177478,
 642673,
 224529,
 351978,
 823259,
 469437,
 670837,
 374000,
 881873,
 841285,
 1001267,
 273023,
 149616,
 648805,
 507298,
 789608,
 361447,
 760092,
 754275,
 401362,
 909597,
 808493,
 652507,
 61,
 496893,
 2146,
 761113,
 98635,
 22246,
 206211,
 790731,
 778426,
 839533,
 438468,
 78284,
 843285,
 232436,
 477446,
 222724,
 779122,
 930361,
 840528,
 953187,
 569317,
 195286,
 56611,
 724120,
 326889,
 742366,
 445484,
 129406,
 289322,
 574957,
 838497,
 74721,
 267799,
 519441,
 21987,
 876678,
 447185,
 137812,
 92989,
 749827,
 159297,
 87924,
 355851,
 548724,
 386325,
 921777,
 753107,
 395758,
 202916,
 959034,
 543548,
 339254,
 843980,
 742094,
 530420,
 515173,
 279724,
 300423,
 736289,
 19909,
 386784,
 632887,
 664298,
 172843,
 834963,
 226159,
 591583,
 761956,
 631604,
 736557,
 852404,
 598182,
 447760,
 26684,
 871508,
 421943,
 198889,
 807392,
 423686,
 583030,
 562886,
 120286,
 819742,
 590097,
 280282,
 828381,
 491593,
 860949,
 948202,
 426965,
 556143,
 20284,
 870112,
 798999,
 609795,
 363787,
 95858,
 387118,
 535174,
 687425,
 162960,
 749297,
 558794,
 341710,
 364463,
 785740,
 595362,
 553168,
 574209,
 119359,
 499561,
 768169,
 608868,
 208960,
 600458,
 13876,
 351899,
 584441,
 947023,
 695715,
 25737,
 113413,
 805109,
 452788,
 606617,
 22712,
 875884,
 396706,
 387178,
 865021,
 218921,
 578547,
 918893,
 631516,
 478738,
 238209,
 547601,
 146584,
 569513,
 360110,
 407903,
 395260,
 355309,
 102950,
 135327,
 420629,
 506868,
 318562,
 982733,
 119197,
 682186,
 879399,
 575354,
 641941,
 283713,
 606978,
 64584,
 445234,
 124042,
 130406,
 675616,
 778377,
 786488,
 908832,
 240405,
 243619,
 421328,
 543810,
 347064,
 137087,
 882193,
 961260,
 31551,
 58022,
 583132,
 369655,
 840041,
 70782,
 726885,
 936193,
 738241,
 379883,
 333660,
 356569,
 429278,
 474266,
 983535,
 100115,
 27254,
 878524,
 805450,
 198811,
 584650,
 363176,
 173517,
 125451,
 594903,
 729281,
 664350,
 235191,
 112708,
 190545,
 84610,
 390727,
 642426,
 986159,
 836708,
 151788,
 727430,
 724894,
 672502,
 241657,
 981564,
 758599,
 273347,
 673974,
 927572,
 472889,
 780362,
 42730,
 632739,
 2640,
 912517,
 754540,
 429759,
 372863,
 73792,
 418731,
 877108,
 284598,
 908596,
 106373,
 93134,
 969053,
 983004,
 250807,
 125423,
 10546,
 447968,
 493934,
 296723,
 794501,
 236013,
 48292,
 198272,
 801484,
 660641,
 90976,
 247400,
 216418,
 680971,
 819702,
 903112,
 686245,
 165093,
 252221,
 736896,
 265473,
 361567,
 161100,
 889999,
 277210,
 844245,
 108458,
 207168,
 553866,
 725845,
 931346,
 467703,
 657832,
 143623,
 119057,
 784854,
 687639,
 346241,
 484271,
 851289,
 260818,
 554934,
 231489,
 667118,
 656195,
 414943,
 516126,
 173762,
 432949,
 833283,
 151645,
 541420,
 338533,
 144317,
 245075,
 413050,
 554855,
 974750,
 93465,
 758707,
 629163,
 20485,
 237290,
 190868,
 856963,
 700554,
 136788,
 162040,
 731499,
 732708,
 213578,
 256561,
 900238,
 781162,
 489225,
 308115,
 255688,
 641512,
 764223,
 140227,
 156498,
 25787,
 102335,
 190208,
 838329,
 587439,
 393228,
 846489,
 702577,
 125241,
 441387,
 679426,
 966473,
 695157,
 885730,
 999724,
 91096,
 410341,
 194817,
 844602,
 320615,
 63469,
 588399,
 398983,
 135131,
 540740,
 867339,
 306195,
 861233,
 126461,
 407734,
 30488,
 189109,
 416302,
 499655,
 70808,
 410845,
 745639,
 953690,
 48260,
 352922,
 458219,
 492798,
 860788,
 62185,
 409280,
 156930,
 518423,
 536856,
 607122,
 782028,
 260338,
 534628,
 654535,
 788613,
 101094,
 646602,
 567617,
 993103,
 92352,
 861099,
 709781,
 55922,
 1000878,
 358367,
 231580,
 552702,
 701452,
 900688,
 211179,
 977336,
 569295,
 600431,
 206242,
 9072,
 238765,
 757306,
 352544,
 753119,
 101545,
 785612,
 847136,
 312485,
 563858,
 384977,
 425075,
 208919,
 612936,
 186715,
 397396,
 951466,
 467782,
 370630,
 582691,
 428872,
 571323,
 61676,
 7087,
 530222,
 756659,
 156236,
 606400,
 15542,
 340518,
 544748,
 759253,
 263180,
 856701,
 254553,
 412575,
 91190,
 904560,
 726382,
 703673,
 607903,
 449259,
 248920,
 468759,
 831362,
 69641,
 188401,
 980636,
 852833,
 860897,
 982652,
 967948,
 756962,
 472035,
 604014,
 542522,
 933179,
 699591,
 129542,
 345133,
 324000,
 575857,
 196234,
 795743,
 559519,
 404217,
 653912,
 693078,
 978339,
 566648,
 9794,
 907918,
 765865,
 390143,
 950087,
 309039,
 204706,
 943734,
 534004,
 828084,
 384055,
 930763,
 355636,
 964216,
 861692,
 171537,
 281836,
 368194,
 164258,
 305427,
 886346,
 986276,
 802939,
 150935,
 259086,
 867402,
 885022,
 966934,
 753966,
 502318,
 878936,
 822810,
 632003,
 542781,
 175609,
 731546,
 470165,
 207854,
 870625,
 654818,
 50473,
 838653,
 839965,
 401220,
 361893,
 606403,
 130538,
 59778,
 882400,
 822915,
 644851,
 449917,
 500800,
 764437,
 699533,
 37137,
 549621,
 840903,
 257337,
 195995,
 423869,
 428613,
 135316,
 757685,
 434683,
 290935,
 953244,
 671106,
 253166,
 17176,
 44490,
 2144,
 207328,
 644071,
 475132,
 30048,
 523465,
 189257,
 513253,
 534857,
 58142,
 265952,
 247253,
 205036,
 310594,
 79885,
 117159,
 518913,
 83369,
 916839,
 504036,
 795746,
 286886,
 302963,
 128394,
 958502,
 18176,
 186856,
 666944,
 527320,
 301746,
 289763,
 121405,
 181968,
 786768,
 958232,
 974132,
 363749,
 127587,
 277895,
 ...]

In [40]:
# 把被抽到的 val_ID 對應的review_index/userId/appId，加入val_review_index串列中
val_review_index,val_userId,val_appId=[],[],[]
for count,i in enumerate(tqdm(val_ID)):
    val_review_index.append(df_train['review_index'][i])
    val_userId.append(df_train['userId'][i])
    val_appId.append(df_train['appId'][i])

100%|███████████████████████████████████████████████████████████████████████| 100457/100457 [00:01<00:00, 66309.11it/s]

In [41]:
from pandas.core.frame import DataFrame
val_index_dic={'review_index' : val_review_index,"userId" : val_userId, "appId" : val_appId}
val_index_df = DataFrame(val_index_dic)
val_index_df

        review_index  userId  appId
0             800602   30304   6378
1             870651  103296   6998
2             340076   26498   3216
3              74159   53877    701
4             549663   29013   3920
...              ...     ...    ...
100452        700298  127337   5377
100453        219702   56862   2148
100454        643323   37277   4791
100455        621739   48691   4718
100456        539491   49767   3804

[100457 rows x 3 columns]

In [42]:
val_index_df.to_csv('./Data/val_index.txt',index=False, encoding='utf-8')

### 排除 val set 之後的 train set >> train_index.txt

In [45]:
new_train_re_index,new_train_userId,new_train_appId = [],[],[]

for count,i in enumerate(tqdm(new_index)):
    new_train_re_index.append(df_train['review_index'][i])
    new_train_userId.append(df_train['userId'][i])
    new_train_appId.append(df_train['appId'][i])

100%|███████████████████████████████████████████████████████████████████████| 904120/904120 [00:13<00:00, 67749.64it/s]

In [46]:
new_index = list(set(val_ID)^set(lst))
len(new_index)

904120

In [47]:
new_train_dic={'review_index' : new_train_re_index,"userId" : new_train_userId, "appId" : new_train_appId}
new_train_df = DataFrame(new_train_dic)
new_train_df

        review_index  userId  appId
0                  0       0      5
1                  1       1      5
2                  2       2      5
3                  3       3      5
4                  4       4      5
...              ...     ...    ...
904115       1116189   31293   9684
904116       1116190  128992   9684
904117       1116191   47487   9684
904118       1116192   14297   9684
904119       1116195   91547   9684

[904120 rows x 3 columns]

In [48]:
new_train_df.to_csv('./Data/train_index.txt',index=False, encoding='utf-8')